body{
    background-color: brown;
}

.box{
    min-height: 50px;
    text-align: center;
    background-color: rgb(77, 146, 236);
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
}

.container-fluid .box .row .box{
    background-color: rgb(32, 175, 32);
    border: 1px solid rgb(11, 108, 236);
}

.big{
    height: 100px;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

.flex-start{
    display: flex;
    align-items:flex-start;
}

.flex-middle{
    display: flex;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-end{
    display: flex;
    align-items: flex-end;
}

.flex-space-around{
    display: flex;
    justify-content: space-around;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.nave{
    background-color: rgb(192, 192, 21);
    border: 1px solid#000;
    border-radius: 10px;
    height: 25px;
    position: absolute;
}

.small{
    width: 100px;
}

.medium{
    width: 200px;
}

.big{
    width: 300px;
}

.mancato{
    color: #000;
    font-size: 24px;
    display: inline-block;
}

.colpito{
    color: red;
    font-size: 24px;
    display: inline-block;
    position: absolute;
    z-index: 999;
}

.player{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 60px;
    background-color: #000;
    color: #fff;
}

.name{
    display: flex;
    align-items: center;
}

.kill{
    display: flex;
    align-items: center;
}